.con{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.con1{
    width: 85%;
    display: flex;
    /* background-color: #5145F0; */
    background: url(../../Assets/computer-engineer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
align-items: center; 
   justify-content: space-between;
}
.contact-div-1{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    justify-content: center;
    padding: 20px;
/* width:500px; */
height: 200px;
font-size: small;
/* background-color: white; */
border-radius: 2rem;

}
.contact-div-1 p{
    background-color: rgba(220, 210, 194, 0.464);
    animation: up 3s infinite alternate-reverse;
    border: 1px solid black;
    padding: 20px;
    font-weight: 600;
}
.contact-div-1 h1{
    background-color: rgb(255, 157, 0);
    animation: up 3s infinite alternate-reverse;
    border: 1px solid black;
    padding: 20px;
    font-weight: 600;
    border-radius: 10px;
}
.contact-div-2{
/* width: 250px; */
padding: 10px;
/* height: 100%; */
border-radius: 2rem;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
justify-content: space-between;
/* background-color: #5145F0; */
/* text-align: center; */
}
.type-of-contact{
    width: 200px;
    /* height: 130px; */
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    gap: 7px;
    padding: 20px 10px;
    overflow: hidden;
    transition: 1s all;

}
.type-of-contact p{
   text-align: justify;
   text-align: center;
}
h1{
    color: black;
    text-transform: uppercase;
}
.con-icon{
    font-size: 50px;
    /* background-color: #5145F0; */
    padding: 10px;
    border-radius: 1rem;
}
.type-of-contact:hover .shre {
    animation: share 2s infinite ;
    transition: 1s;
    color: aqua;
}
.type-of-contact:hover .cll {
    animation:shar 2s  infinite ;
    transition: 1s;
    transform: scale(1.2);
    color: rgb(6, 222, 6);
}
.type-of-contact:hover .add {
    animation: shar 2s ;
    transition: 1s;
    transform: scale(1.2);
    color: rgb(255, 0, 0);
}
.type-of-contact:hover {
    background-color: black;
    color: white;
}
@keyframes share{
    0%{
        transform: translateY(0px);
        
    }
    50%{
        transform: translateY(10px);
    }
    75%{
    transform: scale(1.5);
    }
    100%{
        transform: translateX(150px) translateY(-85px);
    }
}
@keyframes shar{
    0%{
        transform: translateY(0px);
        
    }
    50%{
        transform: translateY(10px);
    }
    100%{
    transform: scale(1.5);
    }
}
.form-div{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    /* background-color: orange; */
}
.form-1{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.form-1 img{
    height: 40%;
}
.form{
    width: 35%;
    /* height: 100%; */
    padding: 20px 0px;
    margin: 30px;
    /* backdrop-filter: blur(-100); */
    background-color: rgba(32, 1, 99, 0.121);
    box-shadow: 10px 10px 10px -10px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.form-detail{
    width: 75%;
    /* margin: 0 auto; */
    /* background-color: aqua; */
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.form-message{
    width: 75%;
    height: 200px;
    /* margin: 0 auto; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}
.input{
    height: 40px;
    color: black;
    border-radius: 1rem;
    border: none;
    padding-left: 10px;
    font-size: small;
}
.input1{
    width: 100%;
    height: 90%;
    color: black;
    border-radius: 1rem;
    border: none;
    padding-left: 10px;
    font-size: small;
}
.msg-btn{
    width: 100px;
    height: 40px;
    color: black;
    font-size: 11px;
    font-weight: 600;
    border-radius: 1rem;
    background-color:red;
    padding: 2px;
    border: none;
}
.msg-btn:hover{
    background-color: black;
    color: white;
    transition: 1s;
}

@media(max-width:1200px){
    .con1{
        height: 315px;
        justify-content: start;
        gap: 150px;
    }
    .contact-div-1 h1{
        padding: 10px 15px;
        font-size: 15px;
    }
    .contact-div-1 p{
        padding: 10px 15px;
        font-size: 13px;
        width: 300px;
    }
    .type-of-contact{
        width: 90px;
        padding: 15px 10px;
        
    }
    .type-of-contact h3{
        font-size: 10px;
    }
    .type-of-contact p{
        font-size: 7px;
    }
    .contact-div-2{
        gap: 15px;
    }
    .con-icon{
        font-size: 15px;
        padding: 0;
    }
    /* .form-detail {
        width: 90%;
        gap: 5px;}
    .form-1 img {
        width: 20%;
        }
*/
.form{
    width: 70%;
    margin: 0 auto;
}
.form-1 img {
    display: none;
}
.form-message {
height: 150px;
} 
.form h1{
    font-size: 20px;
}
.form-div{
    padding-bottom: 20px;
    margin-bottom: 0;
    height: 70vh;
}
}
@media(max-width:700px){
    .con1 {
        height: 100%;
        flex-direction: column;
        gap: 0;
        background-position: top;
        background-size: 100px;
    }
    .contact-div-1 h1 {
        font-size: 8px;
    }
    .contact-div-1 p {
        padding: 10px 15px;
        font-size: 8px;
        width: 100%;
    }
    .contact-div-2{
        flex-direction: row;
    }
    .form-div{
        height: 100%;
    }
    .form{
        width: 90%;
    }
    .input{
        height: 25px;
        font-size: 8px;
    }
    .form-detail label{
        font-size: 8px;
    }
    .form-message label{
        font-size: 8px;
    }
    .form-detail{
        gap: 5px;
    }
    .form-message{
        height: 100%;
        gap: 5px;
    }
    .input1{
        height: 110px;

    }
}