
#about {
    width: 100%;
    /* margin: 50px auto; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: blue; */
}

.title1{
    font-size: 3rem;
    text-align: center;
    color: black;
    text-transform: uppercase;
}
.about-main{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
   /* background-color: brown; */
}
.my-lines{
    height: 300px;
    background-color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.my-lines p{
    width: 30%;
    color: orange;
    /* font-size: 5px; */
}
.my-lines h2{
    color: white;
    position: absolute;
    right: 500px;
    top: 10px;
}
.about-pic-div{
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-left: 5px solid rgb(233, 1, 1);
    padding-left: 20px;
}
.about-pic{
    width: 100%;
    height: 100%;
}
.about-navigation{
    margin: 10px 0px;
    background-color: white;
    align-self: center;
}
.nav-btn{
    width: 100px;
    border: none;
    padding: 10px;
    background-color: orange;
    border: 1px black solid;
}
.row{
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 50px;
}
.education{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: brown; */
}
.detail-div{
    width: 500px;
    height: 200px;
    background-color: rgb(233, 233, 233);
    
    padding: 15px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.position{
    font-size: 12px;
    color: rgb(118, 115, 116);
}
.date{
    /* font-size: 12px; */
    color: orange;
}