#contact {
    width: 80%;
    height: 250px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background-color: brown; */
  }
  
  .contact-info-upper-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(255, 132, 0) 3px solid;
    box-shadow: 3px -1px 10px -5px rgb(255, 127, 7);
    background-color: rgba(252, 252, 252, 0.459);
    margin: 2rem auto;
    padding: 0.5rem;
  }
  
  .contact-info-container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
  }
  
 .contact-info-container a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-style: italic;
  }
  
  .more{
    width: 150px;
    height: 30px;
    color:rgb(255, 162, 0);
    backdrop-filter: blur(1rem);
    font-size: 12px;
    font-weight: 600;
    align-self: center;
    padding-top: 5px;
    border-radius: 10px;
    cursor: pointer;
    border: rgb(255, 132, 0) 1px solid;
    box-shadow: 3px -1px 10px -5px rgb(255, 127, 7);
    transition:all 0.7s ease-out;
}
.more:hover{
    background: linear-gradient(140deg,#c29666 0%,#fecab8 50%,#f59b63 100%);
    transform: scale(1.1);
    color: rgb(0, 0, 0);
}


@media(max-width:1200px){
 .contact-info-upper-container{
  padding: 0;
 }
 #contact{
  width: 85%;
 }
}