#skills{
    width: 100%;
    /* height: 500px; */
    /* background-color: brown; */
    margin: 0px auto;
    padding-top: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.skill-row-2{
    width: 85%;
    margin: 0 auto;
    padding-top: 50px;
}
.skill-grid {
    width: 65%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* background-color: aqua; */
    gap: 50px;
    padding: 20px;
}
.skill-para{
    text-align: start;
    background-color: rgb(233, 233, 233);
    padding: 10px;
    border-radius: 5px;
}
.skill-para span{
    color: orange;
    font-size: 20px;
    font-weight: 600;
}
.progress{
    background-color:rgb(233, 233, 233);
    border-radius: 10px;
    height: 100px;
    padding: 10px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.progress-head{
    display: flex;
    justify-content: space-between;
}
.bar-div{
    /* display: block; */
    height: 5px;
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    overflow: hidden;
}
.bar-div span{
    /* background: linear-gradient(140deg,orange 0%,); */
    background: orange;
    height:5px;
    float: left;
}
.communication{
    height: 20px;
    width: 60%;
    animation: communication 3s;
}
.Problem-Solving{
    height: 20px;
    width: 70%;
    animation: Problem-Solving 3s;
}
.Creativity{
    height: 20px;
    width: 82%;
    animation: Creativity 3s;
}
.Presentation{
    height: 20px;
    width: 69%;
    animation: Presentation 3s;
}
.Flexibility{
    height: 20px;
    width: 70%;
    animation: Flexibility 3s;
}
.Adaptbaility{
    height: 20px;
    width: 90%;
    animation: Adaptbaility 3s;
}

@keyframes communication{
    0%{
        width: 0%;
    }
    100%{
        width:60% ;
    }
}

@keyframes Problem-Solving{
    0%{
        width: 0%;
    }
    100%{
        width:70% ;
    }
}

@keyframes Creativity{
    0%{
        width: 0%;
    }
    100%{
        width:82% ;
    }
}

@keyframes Presentation{
    0%{
        width: 0%;
    }
    100%{
        width:69% ;
    }
}

@keyframes Flexibility{
    0%{
        width: 0%;
    }
    100%{
        width:70% ;
    }
}

@keyframes  Adaptbaility{
    0%{
        width: 0%;
    }
    100%{
        width:90% ;
    }
}

.skill-row-1{
    /* background-color: aqua; */
    width: 85%;
    margin: 0 auto;
    /* height: 300px; */
}
.skill-detail{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.skill-detail marquee{
    width: 98vw;
    display: flex;
    align-items:center ;
    justify-content: center;
    height: 50px;
    background: linear-gradient(140deg,black 0%,rgb(193, 108, 4) 30%,rgb(0, 0, 0) 60%,rgb(247, 126, 14) 100%);
    border-radius: 10px;
    border: 3px solid orange;
    align-self: center;
}
.skill-detail marquee ul{
    display: flex;
    gap: 50px;
    color: white;
    height: 100%;
    /* background-color: blue; */
}
.skill-logo-div{
    /* background-color:gray; */
    display: flex;
    justify-content:end;
    gap: 40px;
}
.skill-logo-div1{
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 10px;
}
.skill-logo-div1 h4{
    width: 300px;
padding: 10px;
background-color: rgb(214, 214, 214) ;
border-radius: 5px;
}
.skill-logo{
    height: 120px;
    width: 120px;
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    filter: saturate(0%);
    border: 3px solid orange;
    transition:all 0.5s ease;

}
.skill-logo:hover{
    filter: saturate(100%);
    transform: scale(1.08);
    background-color: rgb(6, 2, 1);
    color: white;
    border: 3px solid orange;
}
.skill-logo p{
    font-weight: 600;
}
.s-logo{
   width: 40%;
}

@media(max-width:1200px){
    #skills{
        padding-top: 10px;
    }
    .title1{
        font-size: 2rem;
    } 
    .skill-detail marquee{
        width: 100%;
    }
    .skill-logo-div1 h4{
        width: 180px;
        font-size: 11px;
    }
    .skill-logo {
        height: 50px;
        width: 50px;
        gap: 5px;
    }
    .skill-logo p{
        font-size: 7px;
    }
    .skill-logo-div{
        padding-right: 10px;
        gap: 20px;
    }
    .skill-grid{
        width: 100%;
    }
    .progress-head h3{
        font-size: 13px;
    }
}

@media(max-width:700px){
    .skill-detail marquee{
        height: 35px;
    }
    .skill-para{
        font-size: 10px;
    }
    .skill-para span{
        font-size: 10px;
    }
    .skill-logo-div1{
        flex-direction: column;
        gap: 20px;
    }
    .skill-logo-div{
        gap: 15px;
    }
    .skill-detail{
        gap: 15px;
    }
    .skill-grid{
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .progress{
        height: 65px;
    }
}