.footer{
    width: 100%;
    height: 10vh;
    background: rgb(248, 120, 0);
}
.footer-main{
    width: 90%;
    height: 100%;
    margin:0 auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.boy{
    height: 100%;
}
.boy-bye{
    position: absolute;
    left: 30px;
    border: 1px solid black;
    padding: 10px;
    animation: up 1s infinite alternate-reverse;
}
@keyframes up{
    0%{
        transform: translateY(-10);
    }
    100%{
        transform: translateY(10px);
    }
}
.copyrights{
    color: rgb(7, 7, 7);
}
.copyrights a{
    color: rgb(253, 3, 3);
}
.footer-media-icons{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}


@media(max-width:1200px){
    .footer-main{
        width: 85%;
        justify-content: center;
        gap: 20px;
    }
    .footer-media-icons{
        width: 180px;
        font-size: 15px;
    }
    .copyrights{
        font-size: 10px;
    }
    .footer{
        height: 70px;
    }
    
}
@media(max-width:700px){
    .footer{
        height: 135px;
    }
    .footer-main{
        flex-direction: column;
    }
    .boy {
        height: 50px;
    }
    .boy-bye{
        top: 10px;
        font-size: 6px;
        padding: 5px 10px;
        left: 110px;
    }
    .footer-media-icons{
        font-size: 11px;
    }
}